<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{page.title}}</title>
	<meta name="keywords" content="cloud accounting, gaurilla, gaurilla guide, gaurilla user manual, owlgrin, invoicing, invoice, business management">
	<meta name="description" content="Simple and Beautiful Accounting">
	<meta name="viewport" content="width=device-width">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<!-- Facebook Metadata /-->
	<meta property="og:url" content="http://gaurilla.com">
	<meta property="og:image" content="http://gaurilla.com/images/gaurilla.png">
	<meta property="og:description" content="Simple and Beautiful Accounting for Startups">
	<meta property="og:title" content="Gaurilla">

	<!-- Google+ Metadata /-->
	<meta itemprop="name" content="Gaurilla">
	<meta itemprop="description" content="Simple and Beautiful Accounting for Startups">
	<meta itemprop="image" content="http://gaurilla.com/images/gaurilla.png">
	
	<link rel="stylesheet" type="text/css" href="{{site.url}}/styles/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="{{site.url}}/styles/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="{{site.url}}/styles/app.css"/>
	<link rel="stylesheet" type="text/css" href="{{site.url}}/styles/main.css"/>

</head>